<br>

<div class="editor container">

    <div class="row">
        <div class="col-md-12 mx-auto">
            <br>
            <h1 class="text-center">Crear nuevo articulo</h1>
            <form action="/create-article" method="POST">
                <div class="form-group">
                    <input type="hidden" id="contenido">
                </div>

                <div class="form-group">
                    <input class="form-control" type="text" name="title" id="title" placeholder="Titulo:">
                </div>

                <div class="form-group">
                    <!-- tags desplegable con busqueda -->
                </div>

                <div class="form group">
                    <!-- categorias desplegable con busqueda -->
                </div>
            </form>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-12 sizePage">
            <!-- Create the toolbar container -->
            <div id="toolbar"></div>

            <!-- Create the editor container -->
            <div class="ql-editor" id="editor">
                <p>Hello Word</p>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="row">
        <div class="col-md-12">
            <button onclick="cargarDelta();" class="btn btn-success">Cargar Articulo kpo</button>
        </div>
    </div>
    <br>

</div>
<br>
<br>
