<div class="container-fluid row">
    <div class="col-4">
        {{>updates-secondary-item}}
    </div>
    <div class="col-4">
        {{>updates-secondary-item}}
    </div>
    <div class="col-4">
        {{>updates-secondary-item}}
    </div>
</div>