<br>
<div class="updates border">
    <div class="">
        <div class="row">
            <div class="col-sm-8 col-md-7 offset-md-1">
                <div class="row">
                    <div class="col-12">
                        {{>updates-destacated}}
                    </div>
                </div>
                <br>
                {{>updates-secondary}}
            </div>
            <div class="col-sm-4 col-md-3">
                {{>updates-social}}
                <br>
                <div class="border updates-ad">
                    putoelquepublicitaaca
                </div>
            </div>
            <div class="offset-md-1">

            </div>
        </div>
    </div>
</div>