<div>
    <div class="card text-white bg-dark mb-3" <!--style="width: 18rem;-->">
        <div class="d-flex card-img-top align-items-end">
            <img class="image-news-secondary card-img-top" src="/img/secondary.jpg" alt="">
            <div class="label-news-secondary">
                <h3>Tags</h3>
            </div>
        </div>
        <div class="card-body">
            <div class="title-news-secondary card-text">
                <h1>Titulo del Articulo</h1>
            </div>
            <div class="author-news-secondary card-text">
                <h6>Escrito por Alguien un dia</h6>
            </div>
        </div>
    </div>
</div>